body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color:#ecf0f3;
}
.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #cbced1,
                -10px -10px 20px #ffffff;
}
.display #screen{
    text-align: end;
    width: 565px;
    height: 50px;
    font-size: 30px;
    margin-left:3px ;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: inset 5px 5px 8px #00000020,
                inset -5px -5px 8px #ffffff;
 
 
}
button{
    width: 70px;
    height: 25px;
    margin: 5px;
    position: relative;
    left: 35px;
    top: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
  

}
button:hover{
    box-shadow:inset 5px 5px 8px #00000020,
               inset -5px -5px 8px #ffffff ;
}

#equal{
    background-color: #33ccff;
    color: #fff;
}
#equal:hover{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6;
}
#ac{
    background-color: #33cc33;
    color: #fff;
}
#ac:hover{
    box-shadow: inset 5px 5px 8px #2eb82e,
                inset -5px -5px 8px #33cc33;
}
#ce{
    background-color: #ff3399;
    color: #fff;
}
#ce:hover{
    box-shadow: inset 5px 5px 8px #e60073,
                inset -5px -5px 8px #ff3399;
}
